Bottles
FubuCore
FubuLocalization
FubuMVC.Core
FubuMVC.Core.Assets
FubuMVC.Core.UI
FubuMVC.Core.View
FubuMVC.Diagnostics
FubuMVC.JQueryUI
FubuMVC.Media
FubuMVC.Navigation
FubuMVC.SlickGrid
FubuMVC.Spark
FubuMVC.StructureMap
FubuMVC.TwitterBootstrap
HtmlTags
Microsoft.CompilerServices.AsyncTargetingPack
Microsoft.Data.Edm
Microsoft.Data.OData
Microsoft.Data.Services.Client
Microsoft.WindowsAzure.ConfigurationManager
RavenDB.Client
RavenDB.Database
RavenDB.Embedded
Spark
structuremap
WindowsAzure.Storage
