Bottles
FubuCore
FubuLocalization
FubuMVC.Core
FubuMVC.Diagnostics
FubuMVC.Spark
FubuMVC.StructureMap
HtmlTags
Microsoft.CompilerServices.AsyncTargetingPack
Microsoft.Data.Edm
Microsoft.Data.OData
Microsoft.Data.Services.Client
Microsoft.WindowsAzure.ConfigurationManager
RavenDB.Client
RavenDB.Database
RavenDB.Embedded
Spark
structuremap
System.Spatial
WindowsAzure.Storage
