Bottles
FubuCore
FubuLocalization
FubuMVC.Core
FubuMVC.SelfHost
FubuMVC.StructureMap
FubuTestingSupport
HtmlTags
Microsoft.AspNet.WebApi.Client
Microsoft.AspNet.WebApi.Core
Microsoft.AspNet.WebApi.SelfHost
Microsoft.Net.Http
Newtonsoft.Json
NUnit
RavenDB.Client
RavenDB.Database
RavenDB.Embedded
RhinoMocks
structuremap
structuremap.automocking
