Bottles
FubuCore
FubuLocalization
FubuMVC.Core
FubuMVC.Katana
FubuMVC.OwinHost
FubuMVC.StructureMap
FubuTestingSupport
HtmlTags
Microsoft.CompilerServices.AsyncTargetingPack
Newtonsoft.Json
NUnit
Owin
Owin.Extensions
Owin.Types
RavenDB.Client
RavenDB.Database
RavenDB.Embedded
RhinoMocks
structuremap
structuremap.automocking
