<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="1.0.0.426" />
  <package id="FubuCore" version="1.0.0.217" />
  <package id="FubuLocalization" version="0.9.5.114" />
  <package id="FubuMVC.Core" version="0.9.9.1326" />
  <package id="HtmlTags" version="1.1.0.119" targetFramework="net40" />
  <package id="RavenDB.Client" version="1.2.2142-Unstable" targetFramework="net40" />
  <package id="RavenDB.Database" version="1.2.2142-Unstable" targetFramework="net40" />
  <package id="RavenDB.Embedded" version="1.2.2142-Unstable" targetFramework="net40" />
  <package id="structuremap" version="2.6.3" targetFramework="net40" />
</packages>